<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    
    {{> navbar}}
    
    <div class="header">
        <h1 class="actorsHeading">Actors - Details</h1>

        <form class="actorsForm" action="/actors" method="POST">

        <div class="nameBox">
            <span class="nameText">Name:</span>
            <input class="name" name="name" placeholder="Enter Name" type="text">
        </div>

        <div class="actorBox">
            <span class="actorImage">Image:</span>
            <input class="actorImageUrl" name="actorImageUrl" placeholder="Enter Actor's Image Url" type="text">
        </div>

        <div class="ageBox">
            <span class="ageText">Age:</span>
            <input class="actor" name="age" placeholder="Enter Actor Age" type="text">
        </div>

        <button class="submitBtn" type="submit">Add Actor</button>
        </form>  
    </div>

    <ul class="actorsList">
        {{#each actors as |actor|}}
        <li class="actorItem">

            <div class="actorTitle">
                {{!-- <span class="actorTitleHeading">Name:</span> --}}
                <span class="actorTitleText">{{actor.name}}</span>
            </div>
            
            <div class="actorActor">
                <span class="actorActorHeading">Image Url:</span>
                <span class="actorActorText"><img alt="actor-image" src="{{actor.imageUrl}}"</span>
            </div>

            <div class="actorAge">
                <span class="actoAgeHeading">Age:</span>
                <span class="actoAgeText">{{actor.age}}</span>
            </div>

            <button class="btndelete">
                <a href="/delete/actor?id={{actor._id}}">Delete</a>
            </button>

            <button class="btnupdate">
                <a href="/update/actor?id={{actor._id}}">Update</a>
            </button>
        </li>
        {{/each}}
    </ul>
    
</body>
</html>